<html>
  <head>
    <meta charset="UTF-8">
    <link rel=icon href=/favicon.ico>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/pace.css" rel="stylesheet">
  </head>

  <body>
    <div id="fakeLoader"></div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#">Github Issue Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div> <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="list-content" class="list-group"></div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/pace.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>

    <script id="common-list-row" type="text/template">
      <a href="/issues/<%- full_name%>" class="list-group-item">
        <h4 class="list-group-item-heading"><%- full_name %></h4>
        <p class="list-group-item-text"><%- description %></p>
      </a>
    </script>

    <script>
    $(document).ready(function(){
      routes.repos.index({
        currentUser: {{{currentUser}}}
      });
    });
    </script>

  </body>

</html>
